<!-- <h1 class="title">heloo bro</h1>
<app-demo
></app-demo> -->
<!-- <app-header class="text-center"></app-header>

<div class="d-flex text-center" style="height: 400px;"  >
  <app-content class="w-100  "></app-content>
<app-sidebar class="w-100 "></app-sidebar>
</div>
<app-footer class="text-center"></app-footer> -->

<!-- <app-baitap2></app-baitap2> -->
<!-- <app-databinding></app-databinding> -->
<!-- <app-baitap4></app-baitap4> -->
<!-- <app-structuraldirective></app-structuraldirective> -->
<!-- <app-attributedirective></app-attributedirective> -->
<!-- <app-baitap8></app-baitap8> -->
<router-outlet></router-outlet>
