<div class="container">
<div class="row">
  <p *ngIf="loading">Loading...</p>
  <p *ngIf="error">{{error}}</p>
<div *ngFor="let movie of movieList" class="col-sm-3" >
<div class="card text-left">
  <img class="card-img-top" style="height: 150px ;width: 100;" [src]="movie.hinhAnh" alt="">
  <div class="card-body">
    <h4 class="card-title">{{movie.tenPhim}}</h4>
    <p class="card-text">{{movie.ngayKhoiChieu}}</p>
    <button mat-raised-button color="warn" routerLink="/movie/{{movie.maPhim}}" >Chi Tiết</button>
    <p class="card-text">{{0.5|percent}}</p>
    <p class="card-text">{{10000|currency:'VND'}}</p>
    <pre class="card-text">{{movie|json|shortcut}}</pre>
    <p class="card-text">{{movie.ngayKhoiChieu|date:"dd/MM/yyyy h:mm:ss"}}</p>
  </div>
</div>

</div>
</div>
</div>
